@page "/timestable/{Number:int}/{Size:int?}"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components

@if (RunsAsSeparatePage)
{
    <PageTitle>@_pageTitle</PageTitle>
    <h1>@_pageTitle</h1>
}
else
{
    @* Reduce the size of the heading to show it as part of the page *@
    <h3>@_pageTitle</h3>
}

<div class="row">
    <div class="col-auto">
        <div class="card mb-4">
            <div class="card-body">

                @* Number and size *@
                <div class="row mb-3">
                    <div class="col-auto">
                            <span class="fw-bold w-auto">Number</span>
                            <span class="w-auto ms-2">@Number</span>
                    </div>
                    <div class="col-auto">
                            <span class="fw-bold w-auto">Size</span>
                            <span class="w-auto ms-2">@Size</span>
                    </div>
                </div>

                @* Times table *@
                <table class="table table-striped w-auto">
                    <thead class="table-light">
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= Size; i++)
                        {
                            <tr class=" ">
                                <td class="ps-3 text-end">@Number</td>
                                <td class="text-center">×</td>
                                <td class="text-end">@i</td>
                                <td class="text-center">=</td>
                                <td class="text-end pe-3">@(Number * i)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    private string _pageTitle = "Times Table";

    [Parameter]
    [EditorRequired]
    [Range(1, int.MaxValue, ErrorMessage = "Number must be at least 1")]
    public int Number { get; set; }

    [Parameter]
    [Range(1, int.MaxValue, ErrorMessage = "Size must be at least 1")]
    public int Size { get; set; } = 12;

    /// <summary>
    /// Whether the component runs as a separate page or is 
    /// embedded in another page or component.
    /// </summary>
    [Parameter]
    public bool RunsAsSeparatePage { get; set; } = true;
}
